<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Emandate Test">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
	</listeners>
  <test name="Fuctional Testing">
    <classes>
      <class name="TestCases.test_Login"/>
    </classes>
  </test> 
</suite> <!-- Suite1 -->
